/* Add this CSS to your stylesheet or style block */
body{
  font-family: 'Almarai' !important;
}
/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

/* Section title styles */
.title-admin-dash {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Almarai';
}

/* Filtering section styles */
#filterTrolleyByDate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filterTrolley-Start,
.filterTrolley-End,
div:not(#filterTrolleyByDate) > label {
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Form input styles */
form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Print button styles */
.print-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Table styles */
.print-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

/* Action buttons styles */
.btn {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
}

.pagination-item {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #28a745;
}
