 
/* Style modal-1 labels and inputs */
.modal-1 label {
  margin-bottom: 5px;
}

.modal-1 input, .modal-1 select {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Style the modal-1 buttons */
.modal-1 button {
 
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.modal-1 button.cancel {
  background-color: #ccc;
}

/* Style the checkbox */
.modal-1 input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table header */
thead {
  background-color: #000000;
  
  color: #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style alternating rows for better readability */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style buttons */
.button-container button {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.button-container button.cancel {
  background-color: #ccc;
}

/* Style the form for adding a new trolleyNumber */
.form-container {
  margin-top: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"], .form-container input[type="checkbox"] {
  margin-bottom: 15px;
}

.form-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.form-container button.cancel {
  background-color: #ccc;
}



.add-trolley-form{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title-admin-dash{
  text-align: right;
 }