 
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
 
 

 
 

 .Admincontainer{ 
  margin: 10px;
 }


 @media print {
  .btn {
    display: none !important;
  }
}

.print-table {
  /* Your regular table styles here */

  @media print {
    /* Styles for printing */
    font-size: 10pt;
    /* Add more styles as needed */
  }
}


.print-button{
  margin-left: 20px;
  background-color: rgb(63, 5, 12);
  color: #ddd;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  padding: 6px;
  width: 120px;
}
 
.print-button:hover{
  background-color: rgba(63, 5, 12, 0.463);
}


#filterTrolleyByDate {
  display: grid;
  grid-template-columns: auto 1fr;
 max-width: 200px;
 align-content: center;
margin: auto;
text-align: center;
}
#filterTrolleyByDate div {
 margin-left: 10px;
}

.filterTrolley-Start,
.filterTrolley-End,
label,
select,
input {
  margin-bottom: 10px;
}

.filterTrolley-Start,
.filterTrolley-End {
  flex-basis: 48%;
}

label {
  display: block;
  font-weight: bold;
}

input,
select,
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
 