 
 

 

 

.button-container button.cancel {
  background-color: #ccc;
}

/* Style the form for adding a new trolleyNumber */
.form-container {
  margin-top: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"], .form-container input[type="checkbox"] {
  margin-bottom: 15px;
}

.form-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.form-container button.cancel {
  background-color: #ccc;
}



 
 