.bodyLogin{
  
   width: 100vw;
   height: 93vh;
 
   background-size: cover;
}
.loginContainer{
   margin-top: 5%;
    text-align: center ;
   height: 600px;
 
   box-shadow: 1px 10px 20px rgba(0, 0, 17, 0.14);
   width: 350px;
border-radius: 20px;
   background-color: rgb(255, 255, 255) ;
}

.formInput{
   text-align: start;
   margin-top: 40px;
   margin-left: 30px;
}
.inputFiled{
   width: 80%;
   height: 30px;
   border-top: none !important;
   border-right: none !important;
   border-left: none !important;
   border-radius: 2px;
 border-bottom: 1px solid gray !important;

}

.loginBtn .btn{
   width: 70%;
   background-color: aquamarine;
   color: black;
   border: none !important;
}

.facebook{
   width: 30px;
  margin: 3px;
   font-size: 30px;
   color: rgb(100, 36, 1);
}
.twiter{
   width: 30px;
  margin: 3px;
   font-size: 30px;
   color: rgb(58, 3, 3);
}
.github{
   width: 30px;
  margin: 3px;
   font-size: 30px;
   color: rgb(43, 37, 37);
}