#Form-Container-middle {
    padding: 10px;
    width: 100%;
}

.logo-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 10px auto 20px;
}

.recive-no input {
    text-align: center;
    border: none !important;
    background-color: transparent !important;
    width: 100%;
}

.returnAmount,
.secur-deposit,
.customerName-filed {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.returnAmount input,
.secur-deposit input,
.text-center input {
    text-align: center;
    border: none !important;
    width: 100%;
    font-size: 20px;
    background-color: transparent !important;
}

.loc-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.m2-p {
    padding: 5px;
}

.date-filed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-center,
.text-left,
.text-right {
    text-align: center;
    margin: 0;
}

.text-left {
    margin-left: 0;
}

.text-right {
    margin-right: 0;
}

.mt-50 {
    margin-top: 50px;
}

.btn-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.btn-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .btn-container button {
        width: 100%; /* Set button width to 100% for screens smaller than 500 pixels */
     font-size: 9px;
     height: 60px;
    } 
}

@media screen and (min-width: 501px) {
    .returnAmount,
    .secur-deposit,
    .customerName-filed {
        margin: 0;
    }

    .btn-container button {
        margin: 0 5px;
    }
    .ic {
        margin-right:0;
        font-size: 5px ;
       
    
    }
}

@media print {
    .print-content,
    .my-2,
    .mx-1 {
        display: none;
    }
}

.grid-frame-container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.frame-Right-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: auto;
}

.right-receive-No input {
    border: none;
    width: 60px;
}

.loc-form-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.r-secur-deposit {
    display: grid;
    grid-template-columns: 1fr;
}

.ic {
    margin-right: 4px;
  
    font-size: 20px;
}

/* last update 29-12-2023 */