 

#Form-Container-middle{
    height: 70vh;
    width: 71vw;
    /* border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 10px 10px  rgba(0 ,0,17,0.32);
    background-color: #66889551; */
}
.logo-form{
    display: flex;
    justify-content: space-between;
  margin: auto 10px  auto 20px;
}
.recive-no input{
   
    text-align: center;
    border: none !important;
    background-color: transparent !important;
}
.returnAmount{
    display: flex;
}
.returnAmount input{
   
    text-align: center;
    border: none !important;
    width: 100px;
    font-size: 20px;
    background-color: transparent !important;
}
.loc-form{
    display: flex;
    flex-direction: row;
}
.m2-p{
padding: 5px;
}

.date-filed{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
    margin-left: 20px;
}
.text-right{
    text-align: right;
    margin-right: 40px;
}
.secur-deposit{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: nowrap;
    justify-content: center;
}

.mt-50{
    margin-top: 50px;
}

.secur-deposit input{
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    width: 160px;
    text-align: center;
    border: none !important;
    background-color: transparent !important;
}

.customerName-filed{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
 
.text-center  input{
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    width: 360px;
    text-align: center;
    border: none !important;
    background-color: transparent !important;
}

.btn-container{
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

@media print {
    .print-content,
    .my-2,
    .mx-1 {
      display: none;
    }
  }
 

  .grid-frame-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Left side auto width, right side takes the remaining width */
    gap: 20px; /* Adjust the gap between the columns as needed */
  }
  
  .frame-Right-container {
    /* Additional styles for the right container, if needed */
    display: grid;
    grid-template-columns: 1fr   ;
    padding: 0;
    margin-bottom: auto;
  }
  .right-receive-No input{
    border: none;
    width: 60px;
  }
  .loc-form-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.r-secur-deposit{
    display: grid;
    grid-template-columns: 1fr;
}

.ic{
    
   margin-right: 4px;
}