.terms-container{
    
    padding: 10px;
}

#trem-grid{
    display: flex;
    justify-content: space-between;
}
.arabic-list {
    direction: rtl;
  }

  #Right-TermsCondition{
    font-size: 12px;
   
    
  }
  @media screen and (max-width: 600px) {
   ul , ui {
      font-size: 8px ;
    }
  }